.header{
    text-align: center;
    width: 50%;
    background-color: #fcfcfc;
    border-radius: 5px;
    margin: 20px auto;
    font-family: Arial;
    font-size: 20px;

    &__inner{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: block;
        margin-top: 5px;
        cursor: pointer;
    }

    &__profile{
        color: #000;
        display: block;
        margin-top: 0;
        cursor: pointer;
        display: flex;

        &:hover{
            color: #999;
        }
    }

    &__name{
        padding: 5px 10px 0 0;
    }
}